body{
    background-color: rgb(255, 232, 80);
    color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.title{
    align-items: center;
    display: flex;
    justify-content: center;
}

.main{
    background: #ecebeb;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
}

.input{
    align-items: center;
    display: flex;
    justify-content: center;
}

.type{
    align-items: center;
    display: flex;
    justify-content: center;
}

.result{
    border:1px solid black;
    padding:30px;
    margin: 20px;
}


